.cart_wrapper .your_cart-text {
    color: #624F82;
    font-weight: 600;
    font-family: 'Neuton', serif;
    font-size: 1.5rem;
}

.cart_wrapper .price_text {
    color: #624F82;
    font-size: 1rem;
    text-align: start;
    font-weight: 600;
}

.cart_wrapper .product_text {
    color: #624F82;
    font-size: 1.1rem;
    text-align: start;
    display: flex;
    font-weight: 600;
}

.cart_wrapper .product_text:hover,
.cart_wrapper .price_text:hover,
.cart_wrapper .price_text svg:hover {
    color: #74959A;
}

.cart_wrapper .description_text {
    color: #9e9e9e;
    font-size: 0.8rem;
    text-align: start;
    display: flex;
    font-weight: 400;
}

.cart_wrapper .stock_text {
    color: #624F82;
    font-size: 0.9rem;
    text-align: start;
    font-weight: 500;
}

.cart_wrapper .card_card {
    /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
    /* box-shadow: 0px 5px 10px 0px #624F82; */
    /* box-shadow: 18px 18px 0 0 #624F82, 18px 18px 0 4px black; */
    box-shadow: #baacd1de 10px 10px;
    border: 1px solid #624F82;
}

.cart_wrapper .card_card:hover {
    transform: scale(1.01);
    box-shadow: 0px 10px 20px 2px #624F82;
}